{% extends 'base.html' %}

{% block title %}Fotók Listája{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Feltöltött Fotók</h1>
    <a href="{% url 'photo_upload' %}" class="btn btn-primary">Új fotó feltöltése</a>
</div>

<div class="mb-3">
    <strong>Rendezés:</strong>
    <a href="?sort=name" class="btn btn-sm {% if current_sort == 'name' %}btn-info{% else %}btn-outline-secondary{% endif %}">Név (A-Z)</a>
    <a href="?sort=-name" class="btn btn-sm {% if current_sort == '-name' %}btn-info{% else %}btn-outline-secondary{% endif %}">Név (Z-A)</a>
    <a href="?sort=upload_date" class="btn btn-sm {% if current_sort == 'upload_date' %}btn-info{% else %}btn-outline-secondary{% endif %}">Dátum (Régi->Új)</a>
    <a href="?sort=-upload_date" class="btn btn-sm {% if current_sort == '-upload_date' %}btn-info{% else %}btn-outline-secondary{% endif %}">Dátum (Új->Régi)</a>
</div>

{% if photos %}
    <div class="list-group">
        {% for photo in photos %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div>
                {% if photo.display_image_url %}
                    <img src="{{ photo.display_image_url }}" class="card-img-top" alt="{{ photo.name }}" 
                        style="height: 225px; width: 100%; display: block; object-fit: cover;">
                {% else %}
                    <p>Kép nem elérhető</p> {# Vagy egy placeholder kép #}
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated and user == photo.owner %}
                <p class="card-text"><strong>{{ photo.name }}</strong></p>
                <p class="card-text"><small class="text-muted">{{ photo.upload_date|date:"Y-m-d H:i" }}</small></p>
                <a href="{% url 'photo_delete' photo.pk %}" class="btn btn-danger btn-sm">Törlés</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="alert alert-info">Még nincsenek feltöltött fotók. <a href="{% url 'photo_upload' %}">Tölts fel egyet!</a></p>
{% endif %}
{% endblock %}